<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <app-swimlane header="Out of Stock">
                <div
                    cdkDropList
                    #outOfStockList="cdkDropList"
                    [cdkDropListData]="outOfStock"
                    [cdkDropListConnectedTo]="[runningLowList, availableList]"
                    class="example-list"
                    (cdkDropListDropped)="drop($event)">
                    <div *ngFor="let item of outOfStock" class="example-box" cdkDrag>
                        {{item}}
                    </div>
                </div>
            </app-swimlane>
        </div>
        <div class="col-md-4">
            <app-swimlane header="Running Low">
                <div
                    cdkDropList
                    #runningLowList="cdkDropList"
                    [cdkDropListData]="runningLow"
                    [cdkDropListConnectedTo]="[outOfStockList, availableList]"
                    class="example-list"
                    (cdkDropListDropped)="drop($event)">
                    <div *ngFor="let item of runningLow" class="example-box" cdkDrag>
                        {{item}}
                    </div>
                </div>
            </app-swimlane>
        </div>
        <div class="col-md-4">
            <app-swimlane header="Available">
                <div
                    cdkDropList
                    #availableList="cdkDropList"
                    [cdkDropListData]="available"
                    [cdkDropListConnectedTo]="[outOfStockList, runningLowList]"
                    class="example-list"
                    (cdkDropListDropped)="drop($event)">
                    <div *ngFor="let item of available" class="example-box" cdkDrag>
                        {{item}}
                    </div>
                </div>
            </app-swimlane>
        </div>
    </div>
</div>

<div class="button-container">
    <button 
        mat-raised-button 
        color="primary" 
        [disabled]="!changesMade"
        (click)="saveChanges()">
            Save Changes
    </button>
    <button
        mat-raised-button 
        color="accent"
        [disabled]="!changesMade" 
        (click)="cancelChanges()">
            Cancel
    </button>
</div>